/* Social Links Styling */
.social-links {
  display: flex;
  gap: 40px;
  margin-top: 2rem;
  padding-left: 1rem;
  border-left: 1px dotted var(--text);
  flex-wrap: wrap; /* Add flex-wrap to make the social links responsive */
}

.social-link {
  color: var(--text);
  text-decoration: none;
  padding: 0.5rem 0.2rem;
  border: 0px solid var(--text); /*0.3 was initially*/
  transition: all 0.3s ease;
  text-align: center;
}

.social-link:hover {
  color: var(--x);
  transform: scale(1.05);
  transition: all 0.3s ease;
}
